<!DOCTYPE html>
<html>

<head>
  <title>Welcome to DevOps demo application</title>
  <link rel="stylesheet" type="text/css" href="/css/main.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Ubuntu:300">
</head>

<body>

  <div class="main">
    <img src="/images/devops.png" width="30%" height="30%" />
    <div class="content">
         {{{body}}}
    </div>
    <form action="/check" method="POST">
        <input type="text" name="user" placeholder="Your user name" />
        <input type="password" name="password" placeholder="Your password" />
        <input type="submit" value="Check" />
    </form>
    <div class="content">
        Status:&nbsp{{user}}&nbsp{{checkStatus}}
    </div>
  </div>


</body>

</html>